.booking {
  padding-top: 90px;
  .location {
    padding: 15px 0;
    background: #f8f8fa;
    .wrapper {
      @include flex-align-center;
      a {
        font-size: 1.15em;
        i {
          color: #aaa;
          font-size: 0.9em;
        }
        &:not(:first-child) {
          &::before {
            content: "";
            display: inline-block;
            margin: 0 10px;
            width: 5px;
            height: 10px;
            background: url(../../img/icon-before-right.png) no-repeat center;
          }
        }
      }
    }
  }
  main {
    padding: 40px 0;
    .wrapper {
      .title {
        margin-bottom: 30px;
        h3 {
          font-size: 2.1em;
          font-weight: normal;
        }
      }
      section {
      }
    }
  }
}
.step-1 {
}
