@import "_variables";
@import "_mixins";

header {
  width: 100%;
  height: 90px;
  padding-top: 15px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 9;
  .wrapper {
    // position: relative;
    .logo {
      position: absolute;
      width: 140px;
      height: 90px;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      background: url(../../img/logo-main.png) no-repeat center;
    }
    .header-top {
      height: 15px;
      @include flex-align-center;
      justify-content: space-between;
      & > div {
        @include flex-align-center;
        gap: 20px;
        a,
        button {
          color: #999;
        }
      }
      .top-right {
        .login-btn {
          line-height: 1;
        }
      }
    }
    .gnb {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      & > button,
      & > a {
        width: 45px;
        height: 20px;
      }
      & > ul {
        padding: 0 40px;
        width: calc(100% - 180px);
        height: 100%;
        & > li {
          height: 100%;
          padding: 0 25px;
          position: relative;
          &.left {
            float: left;
            &:hover {
              .lnb {
                transform: translateX(-40%);
                left: 50%;
              }
            }
          }
          &.right {
            float: right;
            &:hover {
              .lnb {
                transform: translateX(40%);
                right: 50%;
              }
            }
          }
          & > a {
            color: white;
            height: 100%;
            @include flex-center;
            font-size: 1.4em;
          }
          .lnb {
            display: none;
          }
          &:hover {
            position: relative;
            & > a::after {
              content: "";
              width: calc(100% - 50px);
              height: 3px;
              background: white;
              display: inline-block;
              position: absolute;
              bottom: 0;
            }
            .lnb {
              display: flex;
              width: max-content;
              position: absolute;
              z-index: 2;
              padding: 15px 0;
              gap: 20px;
              li {
                a {
                  color: white;
                  font-size: 1.15em;
                }
              }
            }
          }
        }
      }
      .all-menu-btn {
        background: url(../../img/header-icon-hamburger.png) no-repeat center
          left;
        background-size: contain;
      }
      .search-btn {
        background: url(../../img/header-icon-search.png) no-repeat center left;
        background-size: contain;
      }
      .go-booking {
        background: url(../../img/header-icon-calendar.png) no-repeat center
          right;
        background-size: contain;
      }
      .mypage-btn {
        background: url(../../img/header-icon-user.png) no-repeat center right;
        background-size: contain;
      }
    }
    .bg {
      display: none;
      top: 90px;
      width: 100%;
      height: 45px;
      position: absolute;
      left: 0;
      background: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
  }
  .call-box {
    display: none;
    width: 100%;
    background: white;
    position: absolute;
    left: 0;
    z-index: 3;
    .close-btn {
      width: 40px;
      height: 40px;
      position: absolute;
      top: -50px;
      background: url(../../img/header-icon-close.png) no-repeat center;
    }
    .wrapper {
      padding: 50px 0 60px;
    }
    &.visible {
      display: block;
    }
  }
  .all-menu-box {
    background: #333;
    .close-btn {
      left: calc(50% - 555px);
    }
    .wrapper {
      padding-bottom: 20px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 0 30px;
      h4 {
        grid-column: span 6;
        color: white;
        font-size: 2em;
        font-weight: normal;
        margin-bottom: 25px;
        letter-spacing: 0.02em;
      }
      div {
        text-align: center;
        font-size: 1.15em;
        padding-bottom: 50px;
        @include flex-align-center;
        flex-direction: column;
        span {
          display: block;
          width: 100%;
          font-size: 1.25em;
          border-top: 1px solid #555;
          border-bottom: 1px solid #555;
          font-weight: bold;
          padding: 15px 0 13px;
          margin-bottom: 15px;
          color: white;
        }
        a {
          width: fit-content;
          padding: 8px 0;
          color: #bbb;
          &:hover {
            color: $lightgreen;
            position: relative;
            text-decoration: underline;
          }
        }
        &.my-megabox {
          grid-row: span 2;
        }
      }
    }
  }
  .search-box {
    background: #351f67;
    .close-btn {
      left: calc(50% - 515px);
    }
    .wrapper {
      display: flex;
      gap: 20px;
      & > div {
        width: 50%;
      }
      .ranking {
        .tab {
          margin-bottom: 30px;
          button {
            margin-right: 25px;
            padding-bottom: 10px;
            color: white;
            &.active {
              position: relative;
              &::after {
                content: "";
                width: 100%;
                height: 2px;
                background: white;
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }
          }
        }
        .cont {
          @include flex-align-center;
          gap: 50px;
          .img {
            width: 150px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          ul {
            li {
              a {
                color: white;
                padding: 5px 0;
                font-size: 1.2em;
                @include flex-align-center;
                span {
                  font-size: 1.7em;
                  margin-right: 15px;
                  font-style: italic;
                  margin-bottom: 3px;
                }
              }
            }
          }
        }
      }
      .search-form {
        @include flex-center;
        form {
          width: 100%;
          input {
            background: none;
            border: 0;
            border-bottom: 1px solid white;
            width: 75%;
            padding: 15px 40px 15px 10px;
            color: white;
            font-size: 1.3em;
            &::placeholder {
              color: white;
            }
          }
          button {
            position: relative;
            left: -35px;
            color: white;
            font-size: 1.4em;
          }
        }
      }
    }
  }
  .mypage-box {
    background: $bookgreen;
    .close-btn {
      left: calc(50% + 515px);
    }
    .wrapper {
      text-align: center;
      @include flex-align-center;
      flex-direction: column;
      p,
      button,
      a {
        color: white;
        font-size: 1.15em;
      }
      p {
        padding: 20px 0;
        line-height: 1.4;
      }
      .login-btn {
        border: 1px solid white;
        border-radius: 5px;
        width: 130px;
        padding: 8px 0;
        margin-bottom: 50px;
      }
      .join-link {
        display: inline-block;
        border-bottom: 1px solid white;
        padding-bottom: 5px;
      }
    }
  }

  //빠른예매 헤더 style
  &.white {
    background: white;
    border-bottom: 1px solid $purple;
    .wrapper {
      .logo {
        background: url(../../img/logo-booking.png) no-repeat center;
      }
      .header-top {
        button,
        a {
          color: #444;
        }
      }
      .gnb {
        & > ul {
          & > li {
            & > a {
              color: black;
              font-weight: bold;
            }
            &:hover {
              & > a::after {
                background: $lightgreen;
              }
            }
          }
        }
        .all-menu-btn {
          background: url(../../img/header-icon-hamburger-grey.png) no-repeat
            center left;
          background-size: contain;
        }
        .search-btn {
          background: url(../../img/header-icon-search-grey.png) no-repeat
            center left;
          background-size: contain;
        }
        .go-booking {
          background: url(../../img/header-icon-calendar-grey.png) no-repeat
            center right;
          background-size: contain;
        }
        .mypage-btn {
          background: url(../../img/header-icon-user-grey.png) no-repeat center
            right;
          background-size: contain;
        }
      }
      .bg {
        background: $lightgreen;
      }
    }
  }
}
